<h1>All events</h1>

<div id="filter">
  <%= link_to "All Events", events_path %><p></p>

  <%= link_to "Today", events_path(:date => Time.now.to_date ) %>
  <p><%= Time.now.to_date %></p>

  <%= link_to "Tommorow", events_path(:date => (Time.now.to_date+1) ) %>
  <p><%= Time.now.to_date+1 %></p>
</div>


<ul class="events">
  <% @events.each do |event| %>
    <li>
      <% if event.photo.present? %>
        <%= image_tag event.photo.url(:thumb) %>
      <% end %>
      <%= event.title %>
      <%= event.description %>
      <%= event.date_time %>
      <%= event.address %>
      <%= event.price %>
      <%= event.website %>
      <%= link_to event.title, event %>
    </li>
  <% end %>
</ul>


<%= link_to "Add Event", new_event_path %>
