<h1>All events</h1>

<ul class="events">
  <% @events.each do |event| %>
    <li>
      <% if event.photo.present? %>
        <%= image_tag event.photo.url(:thumb) %>
      <% end %>
      <%= event.title %>
      <%= event.description %>
      <%= event.date_time %>
      <%= event.address %>
      <%= event.price %>
      <%= event.website %>
      <%= link_to event.title, event %>
    </li>
  <% end %>
</ul>


<%= link_to "Add Event", new_event_path %>
